[[inputs.cisco_telemetry_gnmi]]
### Address and port of the GNMI GRPC server
addresses = []

### define credentials
username = "cisco"
password = "cisco"

### enable client-side TLS and define CA to authenticate the device
enable_tls = true
tls_ca = "/etc/telegraf/cert/gnmi.crt"
insecure_skip_verify = true

### redial in case of failures after
#redial = "10s"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "DME"
#path = "/sys/bgp/inst/dom-default"
##path = "/sys/procsys/syscpusummary"
## name = "BGP"
## origin = "device"
## path = "/System/bgp-items"
## origin = "device"
## path = "/System/intf-items"
## origin = "openconfig"
## path = "/interfaces/interface/"
##path = "/bgp/"
##path = "/components/component/cpu/"

## Subscription mode (one of: "target_defined", "sample", "on_change") and interval
#subscription_mode = "sample"
#sample_interval = "5s"


#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "dme"
##path = "/sys/bgp/inst/dom-default"
#path = "/sys/procsys/syscpusummary/syscpuhistory-last60seconds"
## name = "bgp"
## origin = "device"
## path = "/system/bgp-items"
## origin = "device"
## path = "/system/intf-items"
## origin = "openconfig"
## path = "/interfaces/interface/"
##path = "/bgp/"
##path = "/components/component/cpu/"
[inputs.cisco_telemetry_gnmi.aliases]
bgp_peers = "device:/System/bgp-items/inst-items/dom-items/Dom-list/peer-items"
l2vni ="device:/System/evpn-items/bdevi-items"
oc_bgp_peers = "openconfig:/network-instances/network-instance/protocols/protocol/bgp/neighbors/neighbor/state"
#vlans_oc = "openconfig:/network-instances/network-instance/vlans"

## on change sensor paths ####
[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/interfaces/interface/state/oper-status"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
path = "syslog"
origin = "syslog-oper"
subscription_mode = "on_change"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "openconfig"
#path = "/network-instances/network-instance/vlans"
#subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/mac-items/table-items"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/network-instances/network-instance/protocols/protocol/bgp/neighbors/neighbor/state"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/intf-items"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/urib-items"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/u6rib-items"
subscription_mode = "on_change"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "device"
#path = "/System/mac-items/table-items"
#subscription_mode = "on_change"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "device"
#path = "/System/evpn-items/bdevi-items"
#subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bgp-items/inst-items/dom-items/Dom-list/peer-items"
subscription_mode = "on_change"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "device"
#path = "/syslog/messages"
#subscription_mode = "on_change"



#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "openconfig"
#path = "/network-instances/network-instance/afts/ipv4-unicast"
#subscription_mode = "on_change"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "openconfig"
#path = "/network-instances/network-instance/fdb/mac-table"
#subscription_mode = "on_change"

### simpled sensor paths ####
#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "openconfig"
#path = "/components/component/state/temperature"
#subscription_mode = "sample"
#sample_interval = "10s"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "openconfig"
#path = "/system/processes/process/state"
#subscription_mode = "sample"
#sample_interval = "10s"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "openconfig"
#path = "/interfaces/interface/state/counters"
#subscription_mode = "sample"
#sample_interval = "10s"

##[[inputs.cisco_telemetry_gnmi.subscription]]
##origin = "openconfig"
##path = "/components/component/state/memory"
##subscription_mode = "sample"
##sample_interval = "10s"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "openconfig"
#path = "/system/cpus/cpu/state/total"
#subscription_mode = "sample"
#sample_interval = "10s"

## Subscription mode (one of: "target_defined", "sample", "on_change") and interval
#subscription_mode = "sample"
#sample_interval = "5s"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "DME"
#path = "/sys/procsys/sysmem/sysmemusage"
#subscription_mode = "sample"
#sample_interval = "5s"

#[[inputs.cisco_telemetry_gnmi.subscription]]
#origin = "DME"
#path = "/sys/bgp/inst/dom-default"
#subscription_mode = "sample"
#sample_interval = "5s"

#[[outputs.file]]
  #files = ["stdout", "/opt/metrics.out"]
  #use_batch_format = true
  #rotation_interval = "1h"
  #rotation_max_size = "20MB"
  #rotation_max_archives = 3
  #data_format = "json"
 
[[outputs.influxdb]]
urls = ["http://influxdb:8086"]
database = "nxos"
username = "telegraf"
password = "telegraf"
