# minimum configuration example of telegraf
# Full example please refer to command telegraf config
#
[agent]
logfile = "/tmp/telegraf.log"
debug = true
hostname = "telegraf"
interval = "10s"
round_interval = false
metric_batch_size = 1000
metric_buffer_limit = 10000

[[inputs.cisco_telemetry_mdt]]
transport = "grpc"
service_address = ":57000"

# uncomment below to enable tls for dial-out plguin
tls_cert = "/etc/telegraf/cert/telegraf.crt"
tls_key = "/etc/telegraf/cert/telegraf.key"
# nxos does not support client side authentication
# tls_allowed_cacerts = ["/etc/telegraf/ca.pem"]

[inputs.cisco_telemetry_mdt.tags]
tag1 = "nxos_dialout"

[[inputs.ping]]
urls = ["172.25.74.61", "172.25.74.70"]

[inputs.ping.tags]
tag1 = "ping"

[[outputs.influxdb_v2]]
urls = ["http://influxdb:8086"]
token = "telegraf"
organization = "Cisco"
bucket = "nxos_dialout"
[outputs.influxdb_v2.tagpass]
tag1 = ["nxos_dialout", "ping"]

[[outputs.file]]
## Files to write to, "stdout" is a specially handled file.
files = ["/tmp/metrics.out"]
rotation_max_archives = 3
rotation_max_size = "100MB"
data_format = "json"
