[[inputs.cisco_telemetry_gnmi]]
### Address and port of the GNMI GRPC server
addresses = []

### define credentials
username = "cisco"
password = "cisco"

### enable client-side TLS and define CA to authenticate the device
enable_tls = true
tls_ca = "/etc/telegraf/cert/gnmi.crt"
insecure_skip_verify = true

### redial in case of failures after
#redial = "10s"
#
[inputs.cisco_telemetry_gnmi.tags]
tag1 = "nxos_gnmi"

## simpled sensor paths for OC YANG model ####
[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/components/component/state/temperature"
name = "oc_temperature"
subscription_mode = "sample"
sample_interval = "10s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/system/processes/process/state"
name = "oc_process_state"
subscription_mode = "sample"
sample_interval = "10s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/interfaces/interface/state/counters"
name = "oc_int_counters"
subscription_mode = "sample"
sample_interval = "10s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/components/component/state/memory"
name = "oc_memeory"
subscription_mode = "sample"
sample_interval = "10s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/system/cpus/cpu/state/total"
name = "oc_cpu"
subscription_mode = "sample"
sample_interval = "10s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "openconfig"
path = "/components/component/power-supply/state"
name = "oc_psu"
subscription_mode = "sample"
sample_interval = "10s"


### Cisco NX-OS Native YANG#### 
[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/procsys-items/syscpusummary-items/syscpuhistory-items/SysCpuHistory-list/usageAvg"
name = "native_cpu_load"
subscription_mode = "sample"
sample_interval = "10s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/procsys-items/sysmem-items/sysmemusage-items/curr"
name = "native_mem_usage"
subscription_mode = "sample"
sample_interval = "10s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/ch-items/supslot-items/SupCSlot-list/sup-items/sensor-items/Sensor-list"
name = "native_temperature_sensor"
subscription_mode = "sample"
sample_interval = "15s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/ch-items/psuslot-items/PsuSlot-list/psu-items"
name = "native_psu"
subscription_mode = "sample"
sample_interval = "15s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/alarms-items/alarm-items"
name = "native_alarm"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/showversion-items"
name = "native_system_version"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/name"
name = "native_system_hostname"
subscription_mode = "sample"
sample_interval = "600s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/intf-items/phys-items/PhysIf-list/phys-items/operSt"
name = "native_interface_operSt"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/intf-items/phys-items/PhysIf-list/phys-items/operSt"
name = "native_interface_operSt"
subscription_mode = "sample"
sample_interval = "300s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/intf-items/phys-items/PhysIf-list/dbgIfIn-items"
name = "native_ingress_rate"
subscription_mode = "sample"
sample_interval = "30s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/intf-items/phys-items/PhysIf-list/dbgIfOut-items"
name = "native_egress_rate"
subscription_mode = "sample"
sample_interval = "30s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/mac-items/table-items/vlan-items/MacAddressEntry-list"
name = "native_mac_address_table"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/mac-items/table-items/vlan-items/MacAddressEntry-list"
name = "native_mac_address_table"
subscription_mode = "sample"
sample_interval = "300s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bd-items/bd-items"
name = "native_l2_vlan"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bd-items/bd-items"
name = "native_l2_vlan"
subscription_mode = "sample"
sample_interval = "300s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/inst-items/Inst-list"
name = "native_l3_vrf"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/inst-items/Inst-list"
name = "native_l3_vrf"
subscription_mode = "sample"
sample_interval = "300s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/urib-items/table4-items/Table4-list/routeCount"
name = "native_urib_route_count"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/u6rib-items/table6-items/Table6-list/routeCount"
name = "native_u6rib_route_count"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/urib-items/table4-items/Table4-list/routeCount"
name = "native_urib_route_count"
subscription_mode = "sample"
sample_interval = "30s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/u6rib-items/table6-items/Table6-list/routeCount"
name = "native_u6rib_route_count"
subscription_mode = "sample"
sample_interval = "30s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bgp-items/inst-items/dom-items/Dom-list/numEstPeers"
name = "native_bgp_established_peers"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bgp-items/inst-items/dom-items/Dom-list/numEstPeers"
name = "native_bgp_established_peers"
subscription_mode = "sample"
sample_interval = "30s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bgp-items/inst-items/dom-items/Dom-list/numPeers"
name = "native_bgp_configured_peers"
subscription_mode = "on_change"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bgp-items/inst-items/dom-items/Dom-list/numPeers"
name = "native_bgp_configured_peers"
subscription_mode = "sample"
sample_interval = "30s"

[[inputs.cisco_telemetry_gnmi.subscription]]
origin = "device"
path = "/System/bgp-items/inst-items/dom-items/Dom-list/af-items/DomAf-list"
name = "native_bgp_address_family"
subscription_mode = "sample"
sample_interval = "30s"

[[outputs.influxdb_v2]]
urls = ["http://influxdb:8086"]
token = "telegraf"
organization = "Cisco"
bucket = "nxos_gnmi"
[outputs.influxdb_v2.tagpass]
tag1 = ["nxos_gnmi", "ping"]
